/*ESTILOS PARA LAS PORTADAS*/
    /*Portal*/
.portada {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../media/img/portada.jpg);
    background-size: cover;
}

.portada h1 {
    position: relative;
    font-size: 8rem;
    text-align: right;
    background: -webkit-linear-gradient(180deg, #fc64b4, #f9307b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 40%;
    right: 10%;
}
    /* ESTILOS PARA EL SCROLL DOWN SYMBOL */
.scrolldown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }

    25% {
        top: 0;
        left: 0;
        opacity: 1;
    }

    50%,  100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}